<?xml version="1.0" encoding="utf-8"?>
<DocPropertyConstant xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="SPRING_0O0hVabrX8SRM6aidUnUFa" Name="SPRING" UniqueId="1802b7e4-9758-4871-b586-92c9dec5e3e4">
	<Localization>
		<DocLocalization Name="Spring" Locale="en">
			<Documentation>A valve that is normally held in position by the pressure of a spring on a plate but that may be caused to open if the pressure of the fluid is sufficient to overcome the spring pressure</Documentation>
		</DocLocalization>
	</Localization>
</DocPropertyConstant>

